@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ticket Controller Super Tool</h1>
</div>

<section class="row">
    <h2>
        Welcome to our app
    </h2>
    @Html.ActionLink("Start", "StartPage", "Home")

</section>